body {
  background-color: pink;
  display: flex;
  justify-content: center;
  color: white;
}

button,
input {
  border-radius: 20px;
  border: none;
  height: 30px;
  background-color: black;
  color: white;
}

input:hover {
  background-color: pink;
  color: black;
}

.button-hover:hover {
  background-color: pink;
  color: black;
}

input {
  height: 30px;
  text-align: center;
}
table {
  border: solid 1px grey;
  text-align: center;

  border-spacing: 0 0;
  width: 90%;
}
#btn-add {
  width: 200px;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

td {
  font-weight: 900;
  background-color: darkgrey;
}

tr:first-child td:first-child {
  border-top-left-radius: 20px;
}
tr:first-child td:last-child {
  border-top-right-radius: 20px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.delete-button {
  color: rgb(4, 4, 105);
  background-color: darkgrey;
  font-weight: 800;
}

.delete-button:hover {
  color: red;
}

.show-skill-container {
  background-color: grey;
  width: 600px;
  padding: 100px;
  margin: 100px;
  border-radius: 20px;
}

.add-skill-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
  width: 600px;
  height: 300px;
  padding: 100px;
  margin: 100px;
  border-radius: 20px;
}
